<div *ngIf="trustee">

    <p>
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
          
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
         
          </mat-form-field>
    </p> 
    



<form [formGroup]="addTrustee"  (ngSubmit)="saveTrustee(trustee)" >
    
    <div class="form-group">
    <!-- <p>
        <label  for="id">ID:</label>
        <input class="form-control"  type="number" name="id" id="id" placeholder="Id" formControlName="id"  >
    </p> -->

    
    <p>
        <label for="name">Name:</label>
        <input class="form-control"  type="text" name="name" id="name" placeholder="Name" formControlName="name" >
    </p>
    
    <br>
    <p>
        <label for="gender">Gender:</label>
        <input type="radio" name="gender" id="gender" value="Male"  formControlName="gender">Male
        <input type="radio" name="gender" id="gender" value="Female" formControlName="gender">Female
    </p>
    <p>
        <label for="country">Country:</label>
        <select #country name="country" id="country" required formControlName="countryOfResidence" >
            <option [selected]="c.name==trustee.countryOfResidence"   [ngValue]="c.name" *ngFor="let c of countries">{{c.name}}</option>
        </select>
    </p>

    <p>
        <label for="passport">Passport:</label>
        <input class="form-control" type="text" name="passport" id="passport" placeholder="Passport" formControlName="passport">
    </p>

    
     

    <p>
        <label for="num">Number Of Dependents:</label>
        <input class="form-control" type="number" name="num" id="num"  placeholder="0"  formControlName="noOfDependents">
    </p> 
    <button type="button" class="btn btn-danger" (click)="deleteTrustee(trustee)">Delete Trustee</button>
    <button type="reset"  class="btn btn-danger" >Reset</button>
    <button type="submit" class="btn btn-success" [disabled]="addTrustee.invalid">Submit</button>
    </div>

</form>


</div>
