<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="productList">
    <h1>Trustee List</h1>
    <h2>{{title}}</h2>
    <div class="input-group mb-3">
    
        <input type="text"  (keyup)="filter()" [(ngModel)]="inp" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
      </div>
    <table class="table table-dark">
        <thead style="color: black;">
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Country</th>
            <th>PAN NO</th>
            <th>No of Dependents</th>
           
        </thead>
        <tbody *ngFor="let trustee of filteredList;">
            <tr>
                <td >{{trustee.id }}</td>
                <td (click)="trusteeSelected(trustee)">{{trustee.name | uppercase}}</td>
                <td>{{trustee.gender}}</td>
                <td>{{trustee.countryOfResidence}}</td>
                <td> {{trustee.passport}} </td>
                <td>{{trustee.noOfDependents}}</td>
                <!-- <td> <button (click)="outputEvent(product)" >Add To Cart</button> </td> -->
            </tr>
        </tbody>
    </table>
</div>

<!-- <div class="shoppingCart">
    <app-shopping-cart [product1]="productSend"></app-shopping-cart>
</div> -->



</div>
<div class="card-footer">
    <div class="col-md-4 text-right">
      <button class="btn btn-primary"
      (click)="newTrustee()">Add a Trustee</button>

    </div>
  </div>



<router-outlet></router-outlet>
    
</body>
</html>
