
        section{
            padding-left: 10px;
            margin-left: 300px;
            margin-right: 600px;
            border: 2px solid black;
            color: rgb(12,250,13);
        }
        
  